@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .back-top {
    right: 20px !important;
  }
}
.bg-main {
  background-color: #3C0D99;
}
.text-main {
  color: #3C0D99;
}
.text-second {
  color: #6415FF;
}
.fw-900 {
  font-weight: 900;
}
.fw-600 {
  font-weight: 600;
}
.fs-11 {
  font-size: 50px;
}
body {
  overflow-x: hidden !important;
}
.back-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: #6415FF;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  display: none;
  z-index: 1000;
}
.back-top i {
  transition: .2s;
}
.back-top:hover i,
.back-top:focus i {
  transform: rotate(-45deg) scale(1.5);
}
.back-top:hover {
  background-color: #742cff;
  z-index: 10000;
}
nav {
  background-color: transparent !important;
}
nav ul li a {
  color: #fff !important;
}
section {
  padding: 100px 0;
}
.m-button {
  background-color: #742cff;
  color: #fff;
  transition: background .2s;
}
.m-button:hover {
  background-color: #6415FF;
  color: #fff !important;
}
.hero-section {
  background-color: #3C0D99;
  padding: 200px 0 145px 0;
}
.hero-section h2 {
  padding-top: 100px;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 16px;
}
.hero-section a {
  font-size: 20px;
}
.hero-section a button {
  padding: 16px 24px;
  margin: 16px 0;
}
.hero-section img {
  width: 550px;
  height: 100%;
}

@media (max-width: 992px) {
  nav {
    background-color: #000 !important;
    text-align: center;
  }
  .hero-section {
    padding: 50px 0;
    text-align: center;
  }
  .hero-section h2 {
    font-size: 40px;
    font-weight: 600;
  }
  .hero-section p {
    width: 90%;
    margin: 0 auto;
  }
}

/* Start Featuers */
.featuers p.fs-6 {
  font-size: 19px;
  line-height: 1.6;
  color: #D8E8F0;
}
.featuers .content {
  margin-top: 60px;
}
.featuers .content {
  display: flex;
}
.featuers .content .box {
  margin-bottom: 40px;
}
.featuers .content i {
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 60px;
  line-height: 60px;
  height: 60px;
  text-align: center;
}
.featuers .content span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}
.featuers .content p {
  font-size: 18px;
  color: #CBD5E0;
}
@media (min-width: 1182px) {
  .featuers .content {
    display: flex;
    padding: 0 140px;
  }
}
@media (max-width: 1384px) {
  .featuers .content p br {
    display: none;
  }
}
@media (max-width: 467px) {
  .featuers .box {
    text-align: center !important;
  }
}
/*Start Pricing Section*/
.pricing {
  position: relative;
}
.pricing .card {
  width: 21rem;
  z-index: 3;
}
.pricing .name {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  margin-right: 4px;
}
.pricing .most-popular {
  color: #22543d;
  background-color: #9ae6b4;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  height: auto;
}
.pricing p.fs-6 {
  font-size: 19px;
  line-height: 1.6;
  color: #D8E8F0;
  margin-bottom: 40px;
}
.pricing .price {
  margin: 25px 0 30px;
  display: flex;
  justify-content: space-between;
}
.pricing .price .big-text {
  font-size: 30px;
  font-weight: bold;
}
.pricing .price .current-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.pricing .price .old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #a0aec0;
  line-height: 1;
  margin-top: 10px;
}
.pricing .price .description {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: #4A5568;
}
.pricing .card-body {
  justify-content: space-between;
}
.pricing .card-body button {
  padding: 12px 8px;
  width: 100%;
}
.back-white {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 16.666667%;
  background-color: rgb(255,255,255);
  z-index: 0;
}
@media (min-width: 1024px) {
  .back-white {
    height: 33.3333%;
  }
}
@media (min-width: 1400px) {
  .cards {
    padding: 0 120px;
  }
}
@media (max-width: 992px) {
  .card {
    margin: 20px auto;
  }
}
/*End Pricing Section*/

/*Strat Reliable Section*/
.reliable .content,
.secure .content {
  padding: 70px 40px;
}
.reliable h5,
.secure h5 {
  color: #6415FF;
}
.reliable h2,
.secure h2 {
  color: #243E63;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
}
.reliable .description,
.secure .description {
  font-size: 18px;
  line-height: 1.6;
  color: #7C8BA1;
}
.reliable img,
.secure img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}
@media (max-width: 992px) {
  .reliable .content,
  .secure .content {
    padding: 0 10px;
    margin: auto;
  }
  .reliable img,
  .secure img {
    margin: auto 0;
  }
}
/*End Reliable Section*/

/*Start Testimonials Section*/
.testimonials .heading {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}
.testimonials .description {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #D8DAF0;
}
.testimonials .opinions{
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 60px 50px 100px 50px;
}
.testimonials .opinions .swiper-slide .content blockquote {
  padding-top: 4px;
  color: #353A46;
  line-height: 1.6;
  font-size: 19px;
  font-weight: 400;
  width: 90%;
}
.testimonials .opinions .person-details {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 36px;
}
.testimonials .opinions .person-details .person {
  display: flex;
  gap: 16px;
}
.testimonials .opinions .person-details .person .person-spans {
  margin: auto 0;
}
.testimonials .opinions .person-spans span {
  display: block;
}
.testimonials .opinions .person-spans span:first-of-type {
  font-weight: 600;
  font-size: 18px;
}
.testimonials .opinions .person-spans span:nth-child(2) {
  font-size: 14px;
}
.testimonials .opinions .person-details .person img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.testimonials .opinions .pagination {
  color: #243E63;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 300;
  margin-top: -50px;
}
.testimonials .opinions .pagination i {
  transition: .2s;
  font-size: 20px;
  z-index: 1000;
}
.testimonials .opinions .pagination i:hover {
  color: #742cff;
}
.testimonials .opinions .swiper-slide .content i {
  font-size: 30px;
  color: #9966ff7a;
}
@media (max-width: 767px) {
  .testimonials .opinions {
    width: 100%;
  }
}
/*End Testimonials Section*/

/* Start FAQ Section */
.faq .heading {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}
.faq .description {
  font-size: 18px;
  color: rgba(226,232,240, 0.8);
  font-weight: 500;
  margin-bottom: 80px;
}
.faq .accordion .row {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.faq .accordion .accordion-item {
  background: transparent !important;
  border: none !important;
}
.faq .accordion .accordion-item .accordion-button {
  background: transparent !important;
  color: #fff;
  border-bottom: 2px solid rgba(131,68,255, 0.8);
  padding-left: 0 !important;
  font-size: 18px;
  padding-bottom: 30px !important;
}
.faq .accordion .accordion-item .accordion-button::after {
  filter:  brightness(0) invert(1);
}
.faq .accordion .accordion-item .accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.faq .accordion .accordion-item .accordion-body {
  border-bottom: 2px solid rgba(131,68,255, 0.8);
}
@media (min-width: 1440px) {
  .faq .accordion .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .faq .accordion .row {
    display: inherit;
    flex-wrap: nowrap;
    gap: 0;
    padding: 0;
    margin: 0 6px;
  }
  html {
    font-size: 80%;
  }
  .heading {
    font-size: 40px !important;
  }
  .faq .description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  section {
    padding: 60px 0;
  }
  .faq .description br {
    display: none;
  }
}
/* End FAQ Section */

/* Start Footer Section */
.footer {
  padding: 80px 0 20px;
  background-color: #1A202C;
}
.footer-img-div {
  display: flex;
}
.footer-img-div h5 {
  margin: auto 0 auto 10px; 
  font-size: 20px !important;
  font-weight: 900;
}
.footer .footer-desc .social-icons {
  display: flex;
  gap: 20px;
}
.footer .footer-desc .social-icons i {
  background-color: #fff;
  color: #1A202C;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: .3s;
}
.footer .footer-desc .social-icons i:hover {
  background-color: #A0AEC0;
  cursor: pointer;
}
.footer h5 {
  font-size: 18px;
  font-weight: bold;
}
.footer .address-description {
  line-height: 2;
  font-size: 14px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  text-decoration: none;
  position: relative;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer .footer-desc {
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
/* Start Footer Section */